{% macro initial_cluster() -%}
{% for host in groups['cluster_1'] -%}
   {% if loop.last -%}
{{ hostvars[host]["ansible_default_ipv4"]['address'] }}
   {%- else -%}
{{ hostvars[host]["ansible_default_ipv4"]['address'] }},
   {%- endif -%}
{% endfor -%}
{% endmacro -%}

[galera]
wsrep_on = ON
{% if 'RedHat' in ansible_os_family %}
wsrep_provider = /usr/lib64/galera/libgalera_smm.so
{% endif %}
{% if 'Debian' in ansible_os_family %}
wsrep_provider = /usr/lib/galera/libgalera_smm.so
{% endif %}
wsrep_cluster_name = "galera_cluster"
wsrep_sst_method = rsync
wsrep_cluster_address = gcomm://{{ initial_cluster() }}
wsrep_node_address = "{{ ansible_default_ipv4.address }}"
wsrep_node_name = "{{ inventory_hostname }}"
binlog_format = row
default_storage_engine = InnoDB
innodb_autoinc_lock_mode = 2
bind-address = 0.0.0.0
