
[galera]
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_name="cluster01"
{% set galera_cluster_node_addresses = [] %}
{% for node in galera_cluster_nodes %}
{%   set _ = galera_cluster_node_addresses.append( hostvars[node]['ansible_default_ipv4']['address']) %}
{% endfor %}
wsrep_cluster_address="{{ 'gcomm://' ~ _galera_cluster_node_addresses | map('ipwrap') | list | join(',') }}"
wsrep_sst_method=rsync
wsrep_node_address="{{ ansible_default_ipv4.address }}"
wsrep_node_name="{{ inventory_hostname }}"
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
