#!/bin/sh

{{ ansible_managed | comment('plain') }}

export GOROOT="{{ golang_goroot }}"
export PATH=$GOROOT/bin:$PATH

{% if golang_gopath not in (None, '') %}
export GOPATH="{{ golang_gopath }}"
export PATH=$GOPATH/bin:$PATH
{% endif %}
